@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap");

* {
  font-family: "Merriweather", serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background: linear-gradient(90deg, #fff 55%, #ffeaf5 50%);
}

nav {
  padding-block: 1rem;
  background: linear-gradient(90deg, #fff 55%, #ffeaf5 50%);
  position: fixed;
  width: 100%;
  z-index: 1;
}

.genlayout {
  max-width: 1000px;
  margin: auto;
}

#toggle,
.hamburger {
  display: none;
}

.innernav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navright {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 700px;
}

.navitems {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.navitems > a {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 12px;
  color: #000;
  font-weight: 600;
}

.navsocials {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navsocials > i {
  color: #ed017f;
  font-size: 16px;
}

.btnstyle {
  background-color: #ed017f;
  border: none;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 2px;
  text-transform: uppercase;
  font-size: 12px;
}

/* hero */
.hero {
  display: flex;
  align-items: center;
  padding-top: 8rem;
  gap: 5rem;
}

.herocontent {
  flex: 1;
}

.herocontent > h1 {
  font-size: 3.5rem;
  font-weight: 900;
}

.herocontent > p {
  font-size: 16px;
  opacity: 0.4;
  width: 400px;
  margin-block: 1.5rem;
}

.btnbtn {
  display: flex;
  gap: 20px;
}

.btnbtn > button:last-child {
  color: #ed017f;
  border: 1px solid #ed017f;
  background-color: #fff;
}

.belowbtn {
  margin-top: 8rem;
  display: flex;
  align-items: center;
}

.contacticon {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 900;
}

.socials {
  display: flex;
  display: inline-block;
  align-items: center;
}

.socials > img {
  margin-left: 1rem;
}

.heroimage {
  width: 60%;
  height: 60vh;
  position: relative;
}

.heroimage > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.heroimage > .s1 {
  background-color: #fff;
  box-shadow: 0.1rem 0.1rem 10px #807f7f;
  border-radius: 25px;
  padding: 0.7rem 1rem;
  font-size: 12px;
  text-transform: capitalize;
  position: absolute;
  left: 4rem;
  top: 1.5rem;
  display: flex;
  align-items: center;
}

.s2 {
  background-color: #fff;
  box-shadow: 0.1rem 0.1rem 10px #807f7f;
  border-radius: 25px;
  padding: 0.7rem 1rem;
  font-size: 12px;
  text-transform: capitalize;
  position: absolute;
  right: 2rem;
  top: 6rem;
  display: flex;
  align-items: center;
}

.positionimg {
  width: 25px;
}

.heroimage > span > i {
  color: #ed017f;
}

.smewrapper > h1 {
  text-align: center;
  text-transform: capitalize;
  font-size: 2rem;
}

.smewrapper > p {
  text-align: center;
  font-size: 13px;
  width: 600px;
  margin: 1rem auto;
  opacity: 0.2;
}

.secone {
  padding-block: 7rem;
}

.smegrid {
  margin-top: 3rem;
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr 1fr; */
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.smecard {
  width: 250px;
}

.smecard > h2 {
  text-transform: capitalize;
  font-size: 18px;
  margin-block: 0.3rem;
}

.smecard > p {
  font-size: 13px;
  width: 150px;
  opacity: 0.4;
}

.sectwo {
  background-color: #fcedef;
  padding-top: 4rem;
}

.sectwo > h2 {
  text-align: center;
  opacity: 0.7;
  margin-bottom: 3rem;
}

.sectwo > div {
  display: flex;
  gap: 5rem;
}

.bpfoot {
  margin-left: 40rem;
}

.secthreegrid {
  display: grid;
  grid-template-columns: 1fr 1.9fr;
}

.uno > img {
  width: 100%;
}

.boldtext {
  font-weight: 800;
  margin-left: 6rem;
  margin-top: 5rem;
  font-size: 20px;
  margin-bottom: 1rem;
  opacity: 0.8;
}

.dos > .lighttext {
  margin-left: 6rem;
  opacity: 0.6;
  font-size: 13px;
  width: 450px;
  line-height: 25px;
  letter-spacing: 0.5px;
}

.dos > a {
  text-decoration: none;
  color: rgb(250, 55, 88);
  font-weight: 600;
  margin-left: 6rem;
  margin-top: 3rem;
  display: block;
}

.secfour {
  padding-top: 7rem;
  background-color: #fef9fc;
  padding-bottom: 5rem;
}

.secfour > .genlayout > h2 {
  text-align: center;
  margin-bottom: 1rem;
  opacity: 0.8;
}

.secfour > .genlayout > p {
  opacity: 0.6;
  margin-bottom: 3rem;
  text-align: center;
  font-size: 12px;
}

.secfourgrid {
  display: flex;
  gap: 3rem;
}

.secfourgrid > div {
  width: 20%;
  position: relative;
}

.secfourgrid > div > img {
  width: 100%;
}

.secfourgrid > div > p {
  opacity: 0.7;
  font-weight: 700;
}

.arrowright {
  width: 25px !important;
  height: auto !important;
  position: absolute;
  bottom: 3px;
  right: 0;
}

.secfive {
  padding-top: 5rem;
}

.secfive > h2 {
  text-align: center;
  opacity: 0.8;
  margin-bottom: 1rem;
}

.secfive > p {
  text-align: center;
  opacity: 0.6;
  margin-bottom: 2.5rem;
  font-size: 12px;
  letter-spacing: 0.5px;
}

.secfivegrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 5rem;
}

.secfivegrid > div > h2 {
  opacity: 0.9;
  font-weight: 700;
  margin-bottom: 8px;
  font-size: 30px;
}

.pinkh2 {
  color: #ed017f;
}

.secfivegrid > div > p {
  font-size: 13px;
  opacity: 0.6;
  letter-spacing: 1px;
  line-height: 25px;
}

.secsix {
  padding-block: 5rem;
  background-color: #fef9fc;
  margin-top: 5rem;
}

.secsix > h2 {
  text-align: center;
  opacity: 0.9;
  font-weight: 700;
}

.secsix > p {
  opacity: 0.6;
  text-align: center;
  font-size: 12px;
}

.secsix > div {
  margin-top: 2rem;
  text-align: center;
}

.secsix > div > input {
  border: 1px solid rgb(155, 151, 151);
  padding: 0.65rem 1rem;
  width: 300px;
  opacity: 0.3;
  border-radius: 3px;
  font-size: 12px;
}

.secsix > div > button {
  background-color: #ed017f;
  border: none;
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 2px;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 2px;
}

.ft {
  padding-block: 3rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.ft > div > h3 {
  opacity: 0.8;
  font-size: 16px;
}

.ft > div > p {
  font-size: 12px;
  opacity: 0.6;
  margin-top: 0.6rem;
  line-height: 2rem;
}

.imgcont {
  display: flex;
  gap: 0.7rem;
  margin-top: 3rem;
}

.ftfirst > p {
  line-height: 20px;
  font-size: 12px;
  opacity: 0.6;
  margin-top: 0.9rem;
}

.ftfirst > h3 {
  opacity: 0.8;
  font-size: 16px;
}
.lastone {
  display: flex;
  align-items: center;
  margin-bottom: 10.5rem;
  gap: 10px;
  margin-left: 3rem;
}

/* responsive code - using media query */

@media (min-width: 280px) and (max-width: 430px) {
    *{
        /* overflow-x: hidden; */
    }
  
    .innernav {
    width: calc(100% - 40px);
  }

  .hamburger {
    display: block;
    font-size: 2rem;
    color: rgb(77, 11, 77);
  }

  .navright {
    display: none;
    height: 60vh;
    position: absolute;
    top: 3.5rem;
    right: 1rem;
    width: 80%;
    background-color: #191618;
    opacity: 0.8;
    flex-direction: column;
    /* justify-content: end; */
    gap: 1rem;
    border-bottom: 2px solid #ed017f;
  }

  .navitems {
    flex-direction: column;
    gap: 1rem;
  }

  .navitems > a {
    padding-block: 0.7rem;
    font-size: 14px;
    color: #fff;
    border-bottom: 1px solid #fff;
  }

  .navsocials {
    border: 2px solid #fff;
  }

  #toggle:checked + .navright {
    display: block;
  }

  .hero {
    width: calc(100% - 40px);
    flex-direction: column;
  }

  .herocontent {
    width: 100%;
  }

  .herocontent > h1 {
    font-size: 2.5rem;
  }

  .herocontent > p {
    width: 100%;
    font-size: 14px;
  }

  .heroimage {
    width: 100%;
  }

  .heroimage > span {
    /* left: 0px; */
  }

  .heroimage > .s1 {
    left: 0;
  }

  .s2 {
    right: 0;
    top: 3rem;
  }

  .secone {
    width: calc(100% - 40px);
  }

  .smewrapper {
    width: calc(100% - 40px);
  }

  .smewrapper > h1 {
    font-size: 1.7rem;
  }

  .smewrapper > p {
    font-size: 13px;
    width: 100%;
  }

  .smegrid {
    grid-template-columns: repeat(2, 1fr);
  }

  .smecard {
    width: 100%;
  }

  .sectwo {
    width: calc(100% - 40px);
    width: 100%;
  }

  .sectwo > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .sectwo > div > img {
    width: 70%;
  }

  .bpfoot {
    margin-left: 5rem;
  }
  
  .secthreegrid {
    grid-template-columns: 1fr;
    text-align: left;
  }

  .uno > img {
    width: 100%;
  }


  .dos {
    margin-right: 100px;
    width: 100%;
  }
  .dos >.boldtext , .dos>.lighttext, .dos >a {
    margin-left: 1rem;
  }

  .lighttext {
    width: 350px !important;
  }

  .secfourgrid {
    overflow-x: auto;
    gap: 20px;
    padding: 10px;
    scroll-snap-type: mandatory;
  }

  .secfourgrid> div {
    min-width: 280px;
  }

  .secfivegrid{
    grid-template-columns: repeat(2, 1fr);
    margin-left: 25px;
  }

  .secsix > div > button {
    margin-top: 2rem;
  }

  .ft {
    display: flex;
    overflow-x: auto;
    padding: 10px;
  }

  .ft > div {
    min-width: 280px;
  }
}
