@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

* {
    font-family: "Merriweather", serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: linear-gradient(90deg, #fff 55%, #ffeaf5 50%);
}

nav {
    padding-block: 1rem;
    background: linear-gradient(90deg, #fff 55%, #ffeaf5 50%);
    position: fixed;
    width: 100%;
    z-index: 1;
}

.genlayout {
    max-width: 1000px;
    margin: auto;
}

.innernav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navright {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 700px;
}

.navitems {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.navitems > a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 12px;
    color: #000;
    font-weight: 600;
}

.navsocials {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.navsocials > i {
    color: #ed017f;
    font-size: 16px;
}

.btnstyle {
    background-color: #ed017f;
    border: none;
    color: #fff;
    padding: .5rem 1rem;
    border-radius: 2px;
    text-transform: uppercase;
    font-size: 12px;
}

/* hero */
.hero {
    display: flex;
    align-items: center;
    padding-top: 8rem;
    gap: 5rem;
}

.herocontent {
    flex: 1;
}


.herocontent > h1{
    font-size: 3.5rem;
    font-weight: 900;
}

.herocontent > p {
    font-size: 16px;
    opacity: .4;
    width: 400px;
    margin-block: 1.5rem;
}

.btnbtn {
    display: flex;
    gap: 20px;
}

.btnbtn >button:last-child{
    color: #ed017f;
    border: 1px solid #ed017f;
    background-color: #fff;
}

.belowbtn {
    margin-top: 8rem;
    display: flex;
    align-items: center;
}


.contacticon {
    display: flex;
    align-items: center;
    gap: .5rem;
    font-weight: 900;
}

.socials{
    display: flex;
    display: inline-block;
    align-items: center;
}

.socials > img{
    margin-left: 1rem;
}


.heroimage {
    width: 60%;
    height: 60vh;
    position: relative;
}

.heroimage > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.heroimage > .s1 {
    background-color: #fff;
    box-shadow: .1rem .1rem 10px #807f7f;
    border-radius: 25px;
    padding: .7rem 1rem;
    font-size: 12px;
    text-transform: capitalize;
    position: absolute;
    left: 4rem;
    top: 1.5rem;
    display: flex;
    align-items: center;
}

.s2 {
    background-color: #fff;
    box-shadow: .1rem .1rem 10px #807f7f;
    border-radius: 25px;
    padding: .7rem 1rem;
    font-size: 12px;
    text-transform: capitalize;
    position: absolute;
    right: 2rem;
    top: 6rem;
    display: flex;
    align-items: center;
}

.positionimg {
    width: 25px;  
}

.heroimage > span > i{
    color: #ed017f;
}




.smewrapper > h1 {
    text-align: center;
    text-transform: capitalize;
    font-size: 2rem;
}

.smewrapper > p {
    text-align: center;
    font-size: 13px;
    width: 600px;
    margin: 1rem auto;
    opacity: .2;
}

.secone {
    padding-block: 7rem;
}

.smegrid{
    margin-top: 3rem;
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.smecard >h2 {
    text-transform: capitalize;
    font-size: 18px;
    margin-block: .3rem;
}

.smecard >p {
    font-size: 13px;
    width: 150px;
    opacity: .4;
}